
.menu{
    width: 100%;
    height: 100vh;
}

.logo img {
    margin-left: 30px;
    width: 100px;
    cursor: pointer;
    margin: 7px 0;
   
}

.cart-icon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    display: flex; /* Add display: flex; to use flexbox */
    align-items: center; /* Align items vertically in the center */
}

.cart-icon i {
    font-size: 30px;
    color: #000;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

.cart-icon i.fa-home {
    margin-right: 10px; /* Adjusted margin-right for the home icon */
}
.cart-icon i:hover
{
    color: #fac031;
}
.item-count {
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 0px;
}

.menu h1{
    margin-top:0px;
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.menu h1 span{
    color: #fac031;
    margin-left: 15px;
    font-family: mv boli;
}

.menu h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}

.menu .menu_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.menu .menu_box .menu_card{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.menu .menu_box .menu_card .menu_image{
    width: 300px;
    height: 245px;
    margin: 0 auto ;
    overflow: hidden;
    
}

 .menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
   
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.menu .menu_box .menu_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: #000;
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;
}

.menu .menu_box .menu_card .small_card i:hover{
    color: #fac031;
}

.menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #fac031;
}

.menu .menu_box .menu_card .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}

.menu .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 10px;
}

.menu .menu_box .menu_card .menu_info .menu_icon{
    color: #fac031;
    text-align: center;
    margin: 10px 0 10px 0;
}

.menu .menu_box .menu_card .menu_info button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #000;
    padding: 8px 10px;
    margin: 0 115px;
    transition: 0.3s;
}
/* Cart */

.cart{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;

}
.cart h1{
    
    margin-top: 5px;
    margin-bottom: 30px;
}
.cart table
{
    width: 100%;
}
.cart table tr thead tr th:first-child
{
    text-align: left;
}
.cart table tr td{
    border-bottom: 1px solid #ddd;
    padding: 12px 0;
}
.cart table thead tr th
{
    text-align: left;
    
}
.cart table tr thead tr th:last-child
{
    text-align: left;

}
.cart .table tbody h4{
   margin-right: 20px;
}
.cart table tbody tr td:last-child
{
    text-align: right;
}
.cart {
    position: fixed;
    height: 100vh;
    width: 400px;
    right: 0;
    top: 0;
    background-color: #cbbaed; 
    padding: 12px 20px;
    overflow-y: scroll;
    right: -100%;
    transition: all 0.3s ease;
}

.cart button{
    margin-top: 12px;
    height: 30px;
    padding: 0 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ff95a5;
    

}
.cart i{
    cursor: pointer;
    margin-bottom: 30px;
    margin-right: 10px;
    
    
}
.cart .fa-xmark {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5em;
    color: red;
}

